.star .rr--svg {
	padding: 5px;
	border-radius: 4px;
  }
  
  .star .rr--on .rr--svg {
	fill: rgb(255, 255, 255);
	background: rgb(34, 178, 106);
	border-color: MediumSeaGreen;
  }
  .rr--has-stroke .rr--on .rr--svg {
    stroke: hsla(180,51.4%,51.6%,1) !important;
}