.overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

  }
  .overlay:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.658);
  }